.product-grid
  margin-top: 20px
  -webkit-box-pack: center
  -webkit-justify-content: center
  -ms-flex-pack: center
  justify-content: center
  -webkit-box-align: stretch
  -webkit-align-items: stretch
  -ms-flex-align: stretch
  align-items: stretch
  -webkit-align-content: stretch
  -ms-flex-line-pack: stretch
  align-content: stretch
  grid-column-gap: 20px
  grid-row-gap: 20px
  grid-template-areas: "."
  -ms-grid-columns: repeat(auto-fill, 160px)
  grid-template-columns: repeat(auto-fill, 160px)
  -ms-grid-rows: minmax(200px, 1fr)
  grid-template-rows: minmax(200px, 1fr)

.product-img
  width: 100%
  height: 100%

.product-img-wrapper
  width: 100%

.product-card
  width: 100%
  border-style: solid
  border-width: 1px
  border-color: #dedede

.product-details-wrapper
  background-color: #fff

.product-link
  display: block
  padding: 5px 8px 2px
  color: #5789ff
  font-size: 1.2rem
  text-decoration: none

.product-detail
  padding: 2px 8px
  font-size: 1em
  &.discount
    color: #61b62f

.product-action-wrapper
  padding: 8px 5px
  background-color: #f2f2f2
  text-align: right
