$m-width: 180px
$m-height: 180px
$width: 200px
$height: 200px

.product-grid
  display: grid
  width: 100%
  justify-items: center
  grid-gap: 10px
  grid-template-columns: repeat(auto-fill, minmax($m-height, 1fr))
  > *
     max-width: $m-width

.product-row
  display: flex

@media(min-width: 768px)
  .product-grid
    display: grid
    width: 100%
    justify-items: center
    grid-gap: 10px
    grid-template-columns: repeat(auto-fill, minmax($height, 1fr))
    > *
       max-width: $width

.product-img-wrapper
  width: 100%
  background: #fff
  position: relative
  img
    width: 100%
    height: 100%

.product-card
  width: 100%
  border-style: solid
  border-width: 1px
  border-color: #dedede

.product-details-wrapper
  background-color: #fff

.product-link
  display: block
  padding: 5px 8px 2px
  color: #5789ff
  font-size: 1.2rem
  text-decoration: none
  text-overflow: ellipsis
  overflow: hidden

.product-detail
  padding: 2px 8px
  font-size: 1em
  &.discount
    color: #61b62f

.product-action-wrapper
  padding: 5px 0
  background-color: #f2f2f2
  text-align: right
  > *
    padding: 5px 0 !important
    margin: 0 10px
