.collection-list
   padding: 30px 0
   > *
      display: flex
      width: 100%
      padding: 10px
      border-bottom: 1px solid #dedede
      &:first-child
         border-top: 1px solid #dedede
   .collection-title
      color: #8393fb
      min-width: 80px
      margin-right: 10px
   .collection-action-bar
      flex-grow: 1
      text-align: right
      button:not(:last-child)
         margin-right: 8px

@media (max-width: 425px)
   .collection-list
      > *
         flex-direction: column
         flex-wrap: wrap
      .collection-action-bar
         margin-top: 8px
         width: 100%
         flex-grow: 1